/* Web Fonts ----------------------- */
header {
  background: url("../img/mountains.jpg"), #d6742a;
  height: 90vh;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  background-position: center;
}

#top {
  color: white;
  text-align: center; 
}

section {
  max-width: 1200px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.intro {
 
  width: 60%;
  margin: 0 auto;
  margin-top: 2em;
  text-align: left;
  font-family: 'Work Sans', sans-serif;

}

.callout {
  display: inline-block;
  background: linear-gradient(60deg, #e3ddd6, #a15208, rgb(173, 89, 4));
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border-radius: 20%;
  text-decoration: none;
   margin-bottom: 100px;
}

#wildlife {

  background: url("../img/bear.jpg"), black;
  box-shadow: inset 8px 8px 15px black, inset -8px -8px 15px black;
  height: 75vh;
  color: white;
  text-decoration: none;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: left;
  padding-top: 200px;
  border-top: 15px solid rgb(216, 120, 17);
  border-radius: 8px 8px 0 0 ;
  margin-top: 100px;
  


}

#wildlife h2,p{

  width: 80%;
  margin: auto;
}

a{

  text-decoration: none;
  color: #d6742a;
}


section{

  border-bottom: dashed;
}
/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em;
  /* 20px on most screens */
}

img {
  width: 100%;

  
  /* responsive images */
}

.column{

  display: inline-block;
  width: 40%;
  margin-top: 50px;
  
  
}

footer{

  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  font-family: 'Work Sans', sans-serif;
}

section .column img{

  border-radius: 10px;
}

section .column ul{

  text-align:left;
}

section .column ol{

  text-align: left;
}

  

@font-face{

  font-family: "myfont";
  src: url("../fonts/abolition-regular-webfont.woff") format("woff");
}
h1{

  font-family: "myfont";
  font-size: 70px;
  letter-spacing: 0px;
  
}

h1::after{

  content: "\2193";
  display: block;
  font-size: 2em;
  margin-top: 60px;
}

h2{

  font-family: "myfont";
}

.column p{

  text-align: left;
  font-family: 'Work Sans', sans-serif;
}

h3{

  text-align: left;
}

.column ol{

  font-family: 'Work Sans', sans-serif;
}

.column li{


  font-family: 'Work Sans', sans-serif;
}

.column:first-child{

  margin-right: 19%;
}

.column:last-child:hover:after{

content: "\2228 save";
border-radius: 5px;
background-color: rgb(227, 106, 14);
color: white;
position: absolute;
top: 10px;
left: 10px;

}

.column{

  position: relative;
}


/* Main
 Styles --------------------- */


/* Media Queries ------------------- */